<!DOCTYPE HTML>
<html>
  <head>
    <title>
      fiction planning site
    </title>
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css" charset="utf-8" type="text/css"/>
    {% block css %}
    {% endblock %}
    {% endcompress %}
    {% compress js %}
        <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
    {% block js %}
    {% endblock %}
    {% endcompress %}
  </head>
  <body>
    <div id="top_links">
      <ul>
	<li>
	  <a href="{% url 'index' %}">
	    Home
	  </a>
	</li>
	<li>
	  <a href="{% url 'pieces' %}">
	    Pieces
	  </a>
    </li>
    <li>
      {% if not user.is_authenticated %}
	  <a href="{% url 'my_login' %}">
	    Login
	  </a>
      {% else %}
      <a href="{% url 'my_logout' %}">
	    Logout
	  </a>
      {% endif %}
	</li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      <p>
	Base page!
      </p>
      {% endblock %}
    </div>
  </body>
</html>
