<!DOCTYPE HTML>
<html>
  <head>
    <title>
      fiction planning site
    </title>
    <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/style.css"/>
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <div id="top_links">
      <ul>
	<li>
	  <a href="{% url index %}">
	    Home
	  </a>
	</li>
	<li>
	  <a href="{% url pieces %}">
	    Pieces
	  </a>
    </li>
    <li>
      {% if not user.is_authenticated %}
	  <a href="{% url my_login %}">
	    Login
	  </a>
      {% else %}
      <a href="{% url my_logout %}">
	    Logout
	  </a>
      {% endif %}
	</li>
      </ul>
    </div>
    <div id="content">
      {% block content %}
      <p>
	Base page!
      </p>
      {% endblock %}
    </div>
  </body>
</html>
