{% extends "base.html" %}
{% block css %}

{% endblock css %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
{% block content %}
<h2>Piece</h2>
<a href="{% url 'piece' piecePK %}">{{ pieceTitle }}</a>
<h3>Character</h3>
<ul>
  <li id="c_name">Name: <input value="{{ character.name }}"/><button class="update_name">Update</button></li>
  <li id="c_age">Age: <input value="{{ character.age }}"/><button class="update_age">Update</button></li>
  <li id="c_gender">Gender: <input value="{{ character.gender }}"/><button class="update_gender">Update</button></li>
</ul>
{% endblock %}
