{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
{% block content %}<span style="display:none;" id="path">{{ piece.get_absolute_url }}{{ event.get_absolute_url }}</span>
<a href="{% url 'piece' p_pk %}">
  {{ pieceTitle }}
</a>
<h2>Event</h2>
<input type="text" value="{{ event.name }}" id="update_e_name" name="update_e_name"/>
<button  id="e_name_submit">Update</button>
<h3>Description</h3>
<textarea id="update_e_description"rows="4" cols="60">{{ event.description }}</textarea>
<button id="e_description_submit">Update</button>
<br/><label forid="e_order">Order: </label><input value="{{ event.order }}" id="e_order"/><button id="e_order_submit">Update</button>
<h3>Characters Involved</h3>
<ul id="chars_in_event_ul">
  {% for character in characters %}
  <li class="char_name_event">
    <span class="name">{{ character.name }}</span>
    <button class="remove_char_event">Remove from event</button>
  </li>
  {% empty %}
  <li>
    Aww...no characters? Yet, there is an event...
  </li>
  {% endfor %}
</ul>
<hr>
<h3>Characters not in event</h3>
<ul id="chars_not_in_event_ul">
  {% for character in allCharacters %}
  {% if not character in characters %}
  <li class="char_name_piece">
    <span class="name">{{ character.name }}</span>
    <button class="add_char_event">Add to event</button>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
