{% extends "base.html" %}
{% block js %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
{% block content %}
<div id="main_pane"/>
<h3>
  Piece
</h3>
<input id="piece_title_input_id" value="{{ piece.title }}"/><button id="update_piece_title_button_id">Update</button>
<h4>
  Characters
</h4>
<ul id="current_characters">
  {% for character in characters.all %}
  <li>
    <a href="{% url 'character' piece.id character.id %}">
    {{ character.first_name }}
    {% if character.middle_name %}
    {{ character.middle_name }}
    {% endif %}
    {{ character.last_name }}
    </a>
    <ul>
      {% for event in events.all %}
      {% if character in event.characters.all %}
      <li>
	<a href="{% url 'event' piece.id event.id %}">
	  {{ event.name }}
	</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'eventTiming' piece.pk %}">Event Timing</a>
</div>
<div id="form_envelope">
<form method="POST" action="." id="character_form">
<h3>Character Form</h3>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit"/>
</form>
<form method="POST" action="." id="event_form">
<hr id="between_forms">

  <h3>Event Form</h3>
  {% csrf_token %}
  <table>
    {{ event_form.as_table }}
  </table>
  <input type="submit" value="Submit"/>
</form>
</div>
{% endblock %}
