{% extends "base.html" %}
{%  load staticfiles %}
{% block css %}

{% endblock css %}
{% block js %}
<script type="text/javascript" src="{% static  'js/piece_script.js' %}" charset="utf-8" type="text/javascript"></script>
{% endblock js %}
{% block content %}
<h3>
  Pieces
</h3>
<ul id="pieces_ul_id">
  {% for piece in pieces %}
  <li class="piece_li_class"><a href="{% url 'piece' piece.pk %}">{{ piece.title }}</a></li>
  {% empty %}
  <p>You haven't planned any pieces, yet.</p>
  {% endfor %}
</ul>
<hr>
<h3>
  Add a piece
</h3>
<table>
  {{ form.as_table }}
</table>
<input type="submit" value="Submit" name="submit_piece" id="submit_piece_id"/>
{% comment %}
<form action="." method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit"/>
</form>
{% endcomment %}
{% endblock %}
